# Ignore virtual environment
venv/
# Ignore IDE configuration files
.vscode/
.env
reset_db.py
__pycache__/
*.pyc
instance/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
database_test.py
mail_test.py
DEPLOYMENT.md
*.sql
