<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Madness{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://js.stripe.com/v3/" ></script>
    
    <script src="{{ url_for('static', filename='/js/index.js') }}" async defer></script>
    <meta name="csrf-token" content="{{ csrf_token() }}">

    {% block meta %}{% endblock %}
    {% block script %}{% endblock %}

</head>
<body>
    <!-- Top Banner -->
    <header class="top-banner">
        <div class="container">
            <div class="top-banner-content">
                <div class="logo">
                    <a href="{{ url_for('index') }}">Madness</a>
                </div>
                <nav class="nav">
                    <ul>
                        <li><a  href="{{ url_for('index') }}#end">Purchase Tokens</a></li>

                        {% if session.get('user') %}
                            <li><a href="{{ url_for('profile') }}">Profile</a></li>
                            <li><a href="{{ url_for('logout') }}" class="btn-sign-out">Sign Out</a></li>
                        {% else %}
                            <li><a href="{{ url_for('google_login') }}"  class="btn-sign-in">Sign In with Google</a></li> 
                           
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <div class="container">
            <p>&copy; 2024 - Ivan Padilla</p>
        </div>
    </footer>

    <div id="end">
    </div>  

</body>
</html>
